# Framework
# ---------
YII_DEBUG   = true
YII_ENV     = dev

# Databases
# ---------
DB_DSN           = mysql:host=localhost;port=3306;dbname=AVSProduct
DB_USERNAME      = root
DB_PASSWORD      = 2618537
DB_TABLE_PREFIX  =

# Urls
# ----
FRONTEND_URL    = http://avsproduct.local
BACKEND_URL     = http://backend.avsproduct.local
STORAGE_URL     = http://storage.avsproduct.local

# Other
# -----
FRONTEND_COOKIE_VALIDATION_KEY = <generated_key>
BACKEND_COOKIE_VALIDATION_KEY = <generated_key>

ADMIN_EMAIL    = admin@avsproduct.local
ROBOT_EMAIL    = robot@avsproduct.local

GITHUB_CLIENT_ID = your-client-id
GITHUB_CLIENT_SECRET = your-client-secret

GLIDE_SIGN_KEY = <generated_key>
GLIDE_MAX_IMAGE_SIZE = 4000000

